@import "./Styles.view.less";

@font-face {
    font-weight: 400;
    font-family: "open-sans";
    src: url("../fonts/open-sans.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    box-sizing: border-box;
}

body {
    background-color: @black; // ???
}

.Mount {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    margin: auto;
    display: flex;
    position: absolute;
    max-width: @max-width;

    font-family: open-sans;

    .Portfolio {
        width: 50%;
        padding: @biggest-gutter;

        color: @black;
        background-color: @white;

        section {
            header {
                font-size: 2em;
                text-align: center;
            }

            .Entries {
                display: grid;
                margin-top: @gutter;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: @gutter;

                .Entry {
                    position: relative;
                    padding-bottom: 133%;

                    background-color: hotpink;
                    border-radius: @roundness;

                    .Title {
                        text-align: center;
                        position: absolute;
                    }
                }
            }
        }
    }

    .Introduction {
        width: 50%;
        padding: @biggest-gutter;

        color: @white;
        background-color: @black;
    }
}
