@import "./Styles.view.less";

@violet: #b769d1;
@blue: #3d2fae;

@font-face {
    font-weight: 400;
    font-family: "open-sans";
    src: url("../fonts/open-sans.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: @black;
    font-family: open-sans;
    background-color: @white;
}

.Mount {
    left: 0em;
    right: 0em;
    margin: auto;
    position: absolute;
    max-width: @maximum-width;

    section, footer, header {
        padding-left: @biggest-gutter;
        padding-right: @biggest-gutter;
        @media(max-width: @break-width) {
            padding-left: @gutter;
            padding-right: @gutter;
        }

        margin-top: @biggest-gutter;
    }

    header {
        display: flex;
        justify-content: center;

        .Avatar {
            width: 5em;
            height: 5em;
            margin-right: 1em;
            border-radius: @roundness;
        }

        .Introduction {
            b {
                font-size: 1.5em;
            }
        }
    }

    footer {
        padding-top: @gutter;
        padding-bottom: @gutter;
        background-color: @black;

        .SocialLinks {
            .SocialLink {
                font-size: 2em;
                margin-right: 0.25em;
                color: @violet;

                &:hover {
                    color: @white;
                }
            }
        }
    }

    .Games {
        .Entries {
            display: grid;
            grid-gap: @gutter;
            margin-top: @gutter;
            grid-template-columns: 1fr 1fr 1fr;
            @media(max-width: @break-width) {
                grid-template-columns: 1fr 1fr;
            }
            @media(max-width: @minimum-width) {
                grid-template-columns: 1fr;
            }

            .Entry {
                position: relative;
                padding-bottom: 133%;
                padding-bottom: 75%;
                padding-bottom: 56.25%;

                overflow: hidden;

                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-color: hotpink;

                border-radius: @roundness;

                color: @white;
                text-align: center;
                text-decoration: none;

                .Cover {
                    top: 0em;
                    left: 0em;
                    right: 0em;
                    bottom: 0em;
                    position: absolute;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    background: linear-gradient(fadeout(@blue, 50%), fadeout(@violet, 50%));

                    transition-property: opacity;
                    transition-duration: 0.25s;

                    &:hover {
                        opacity: 0;
                        transition-duration: 0.125s;
                    }

                    .Text {
                        font-size: 1.2em;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
